body {
  background: black;
  color: white;
  font: 18px sans-serif;
}
.visuallyHidden {
  position: absolute !important;
  height: 1px; width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}
.app {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.loading {
  display: none;
  width: 400px;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -200px;
  margin-top: -100px;
}
.loading-bar {
  border: 2px solid #888;
  width: 100%;
  height: 40px;
  line-height: 40px;
  box-sizing: border-box;
  position: relative;
}
.loading-progress {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #444;
  z-index: 1;
}
.loading-text {
  position: relative;
  z-index: 2;
}
.app.is-loading .loading {
  display: block;
}

.top-right-ui,
.bottom-right-ui {
  position: absolute;
  right: 10px;
}
.top-right-ui {
  top: 10px;
  max-width: 90%;
}
.bottom-right-ui {
  bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}
.toggle-controls {
  padding: 0 0.4rem;
  background: #ccc;
  color: black;
  border: none;
  position: absolute;
  height: 30px;
  line-height: 30px;
  top: -30px;
  right: 0;
  font-weight: bold;
}
.is-loading .toggle-controls {
  display: none;
}

.menu {
  box-sizing: border-box;
  width: auto;
  z-index: 100;
  background: rgba(20, 46, 87,0.9);
  padding: 10px;
  opacity: 0;
  animation: fadeIn ease 2s;
  animation-fill-mode: forwards;
  border: 2px solid #666;

}
.bottom-right-ui .menu {
  display: none;
}
.bottom-right-ui.active .menu {
  display: block;
}
.menu h2 {
  margin: 0 0 0.8rem;
  line-height: 1;
  font-size: 1.2rem;
  font-weight: normal;
  color: #ccc;
}
.radio-button-form label {
  padding: 5px 10px 5px 6px;
  position: relative;
  display: inline-block;
  font-size: 1.1rem;
}
.radio-button-form input[type="radio"],
.radio-button-form span {
  position: relative;
  z-index: 1;
}
.checked-bg {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #7a2323;
  border-radius: 5px;
  display: none;
  z-index: 0;
}
input[type="radio"]:checked ~ .checked-bg {
  display: block;
}

.menu.radio-buttons {
  width: 500px;
}

.camera-nav {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  padding: 20px;
  opacity: 0;
  display: flex;
  flex-direction: column;
}
.loaded .camera-nav {
  animation: fadeIn ease 2s;
  animation-fill-mode: forwards;
}
.camera-nav button {
  font-size: 2rem;
  margin-bottom: 6px;
}

.instructions {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
  background: rgba(0,0,0,0.8);
}
.instructions h1 {
  font-size: 1.8rem;
}
.instructions ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.instructions li {
  padding: 1rem 0;
}
.instructions strong {
  background: #ffe626;
  color: black;
  padding: 3px 6px;
  border-radius: 4px;
  margin: 0 4px;
  display: inline-block;
  vertical-align: middle;
}
.instructions button {
  font-size: 2rem;
  padding: 5px 20px;
}
.instructions > div {
  max-width: 800px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 20px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.instructions.active {
  display: block;
}

.key {
  z-index: 100;
  display: none;
  opacity: 0;
  animation: fadeIn ease 2s;
  animation-fill-mode: forwards;
  background: rgba(0,0,0,0.9);
  padding: 5px;
  border: 2px solid #666;
  border-bottom: none;
  width: 500px;
  box-sizing: border-box;
}
.key.active {
  display: block;
}
.bottom-right-ui .key.active {
  display: none;
}
.bottom-right-ui.active .key.active {
  display: block;
}

.key .marker {
  position: absolute;
}
.legend.key {
  width: auto;
  border: 2px solid #666;
}
.legend-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}
.legend-list li {
  margin: 0;
  padding: 3px 6px;
  white-space: nowrap;
}
.legend-list span {
  display: inline-block;
  vertical-align: middle;
}
.legend-list span.color {
  width: 30px;
  height: 30px;
}
.map.key {
  width: 400px;
  height: 200px;
  padding: 0;
  position: relative;
}
.map.key img {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.map.key .marker {
  width: 20px;
  height: 20px;
  margin-left: -10px;
  margin-top: -10px;
  border: 3px solid white;
  border-radius: 50%;
}
.timeline.key {
  width: 500px;
  padding: 10px 5px;
}
.timeline-wrapper {
  position: relative;
  overflow: hidden;
}
.timeline-data {
  list-style: none;
  width: 100%;
  height: 120px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-end;
}
.timeline-data li {
  background: #888;
  flex-grow: 1;
}
.timeline-wrapper .domain {
  position: absolute;
  bottom: 1px;
  left: 1px;
  white-space: nowrap;
  font-size: 0.8rem;
  text-align: left;
}
.timeline-wrapper .domain.year-end {
  left: auto;
  right: 1px;
  text-align: right;
}
.timeline-wrapper .marker {
  width: 4px;
  height: 80%;
  background: white;
  bottom: 0;
}
.timeline-wrapper .marker-label {
  position: absolute;
  top: -20px;
  left: 50%;
  width: 100px;
  margin-left: -50px;
  text-align: center;
  white-space: nowrap;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
