body {
  background: var(--bg-color);
  color: var(--text-color);
  font: 18px sans-serif;
}
.visuallyHidden {
  position: absolute !important;
  height: 1px; width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}
.app {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.button,
button {
  background: var(--button-bg-color);
  display: inline-block;
  margin: 0 10px 0 0;
  padding: 0.2rem 0.4rem;
  color: var(--text-color);
  border: none;
  text-decoration: none;
}
.button.inverse,
button.inverse {
  color: var(--bg-color);
  background: var(--button-bg-inverse-color);
}

.loading {
  display: none;
  width: 400px;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -200px;
  margin-top: -100px;
}
.loading-bar {
  border: 2px solid var(--bg-lightest-color);
  width: 100%;
  height: 40px;
  line-height: 40px;
  box-sizing: border-box;
  position: relative;
}
.loading-progress {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--bg-light-color);
  z-index: 1;
}
.loading-text {
  position: relative;
  z-index: 2;
}
.app.is-loading .loading {
  display: block;
}

.stories-container,
.legend-container,
.menus-container {
  position: absolute;
}
.stories-container,
.menus-container {
  bottom: 10px;
  left: 10px;
  width: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.legend-container {
  top: 10px;
  right: 10px;
  max-width: 90%;
}
.menus-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}
.app.is-loading .menus-container {
  display: none;
}
.stories-container {
  margin-right: 10px;
  flex-grow: 1;
  width: auto;
  left: 10px;
  bottom: auto;
  top: 40px;
  margin-left: 60px;
}
.toggle-button {
  padding: 0 0.4rem;
  background: #ccc;
  color: var(--bg-color);
  border: none;
  position: absolute;
  height: 30px;
  line-height: 30px;
  top: -30px;
  left: 0;
  font-weight: bold;
}
.is-loading .toggle-button {
  display: none;
}

.menu {
  box-sizing: border-box;
  width: auto;
  z-index: 100;
  background: rgba(0, 0, 0, 0.9);
  padding: 10px;
  opacity: 0;
  animation: fadeIn ease 2s;
  animation-fill-mode: forwards;
  border: 2px solid var(--bg-lighter-color);

}
.menus-container .menu {
  display: none;
}
.menus-container.active .menu {
  display: block;
}
.menu h2 {
  margin: 0 0 0.8rem;
  line-height: 1;
  font-size: 1.2rem;
  font-weight: normal;
  color: var(--text-dark-color);
}
.radio-button-form label {
  padding: 5px 10px 5px 6px;
  position: relative;
  display: inline-block;
  font-size: 1.1rem;
}
.radio-button-form input[type="radio"],
.radio-button-form span {
  position: relative;
  z-index: 1;
}
.checked-bg {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--button-bg-color);
  border-radius: 5px;
  display: none;
  z-index: 0;
}
input[type="radio"]:checked ~ .checked-bg {
  display: block;
}

.menu.radio-buttons {
  width: 500px;
}

.camera-nav {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  padding: 20px;
  opacity: 0;
  display: flex;
  flex-direction: column;
}
.loaded .camera-nav {
  animation: fadeIn ease 2s;
  animation-fill-mode: forwards;
}
.camera-nav button {
  font-size: 2rem;
  margin-bottom: 6px;
}

.instructions {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
  background: rgba(0,0,0,0.8);
}
.instructions h1 {
  font-size: 1.8rem;
}
.instructions ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.instructions li {
  padding: 1rem 0;
}
.instructions strong {
  background: var(--notice-color);
  color: var(--bg-color);
  padding: 3px 6px;
  border-radius: 4px;
  margin: 0 4px;
  display: inline-block;
  vertical-align: middle;
}
.instructions button {
  font-size: 2rem;
  padding: 5px 20px;
}
.instructions > div {
  max-width: 800px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 20px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.instructions.active {
  display: block;
}

.key {
  z-index: 100;
  display: none;
  opacity: 0;
  animation: fadeIn ease 2s;
  animation-fill-mode: forwards;
  background: rgba(0,0,0,0.9);
  padding: 5px;
  border: 2px solid var(--bg-lighter-color);
  border-bottom: none;
  width: 500px;
  box-sizing: border-box;
}
.key.active {
  display: block;
}
.menus-container .key.active {
  display: none;
}
.menus-container.active .key.active {
  display: block;
}

.key .marker,
.key .hover-marker {
  position: absolute;
}
.key .hover-marker {
  display: none;
}
.key:hover .hover-marker {
  display: block;
}
.legend.key {
  width: auto;
  border: 2px solid var(--bg-lighter-color);
}
.legend-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}
.legend-list li {
  margin: 0;
  padding: 3px 6px;
  white-space: nowrap;
}
.legend-list span {
  display: inline-block;
  vertical-align: middle;
}
.legend-list span.color {
  width: 30px;
  height: 30px;
}
.map.key {
  width: 400px;
  height: 200px;
  padding: 0;
  position: relative;
}
.map.key img {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.map.key .marker,
.map.key .hover-marker {
  width: 20px;
  height: 20px;
  margin-left: -10px;
  margin-top: -10px;
  border: 3px solid var(--text-color);
  border-radius: 50%;
}
.map.key .hover-marker {
  border-color: var(--bg-secondary-color);
}
.timeline.key {
  width: 500px;
  padding: 10px 0;
}
.timeline-wrapper {
  position: relative;
  overflow: hidden;
}
.timeline-data {
  list-style: none;
  width: 100%;
  height: 120px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-end;
}
.timeline-data li {
  background: var(--bg-lightest-color);
  flex-grow: 1;
}
.timeline-wrapper .domain {
  position: absolute;
  bottom: 1px;
  left: 1px;
  white-space: nowrap;
  font-size: 0.8rem;
  text-align: left;
}
.timeline-wrapper .domain.year-end {
  left: auto;
  right: 1px;
  text-align: right;
}
.timeline-wrapper .marker,
.timeline-wrapper .hover-marker {
  width: 4px;
  height: 80%;
  background: var(--text-color);
  bottom: 0;
}
.timeline-wrapper .hover-marker {
  background: var(--bg-secondary-color);
}
.timeline-wrapper .marker-label {
  position: absolute;
  top: -20px;
  left: 50%;
  width: 100px;
  margin-left: -50px;
  text-align: center;
  white-space: nowrap;
}

.story {
  display: none;
  opacity: 0;
  animation: fadeIn ease 2s;
  animation-fill-mode: forwards;
  background: rgba(0,0,0,0.9);
  padding: 5px;
  border: 2px solid var(--bg-lighter-color);
  box-sizing: border-box;
  color: var(--text-dark-color);
  position: relative;
}
.story.active {
  display: block;
}
.story h3,
.story p {
  margin: 0 0 10px;
  line-height: 1.4;
}
.story a {
  color: var(--text-color);
  text-decoration: underline;
}
.story .images {
  display: flex;
  flex-wrap: wrap;
}
.story img {
  height: auto;
  width: auto;
  max-height: 100px;
  margin: 0 10px 0 0;
}

.viewer {
  width: 80px;
  height: 80px;
  border: 2px solid rgba(255, 255, 255, 0.9);
  position: absolute;
  z-index: 10000;
  top: 50%;
  left: 50%;
  margin-left: -40px;
  margin-top: -40px;
  border-radius: 50%;
  opacity: 0;
  display: none;
  box-shadow: 0 1px 2px 2px rgb(0, 0, 0, 0.8);
}
/* .app.loaded .viewer {
  display: block;
  animation: fadeIn 1s ease-in;
  animation-fill-mode: both;
} */

.item-metadata-container {
  position: absolute;
  width: 300px;
  height: 100%;
  top: 0;
  right: -300px;
  z-index: 10000;
  transition: right 1s ease-in-out;
  background: var(--bg-secondary-color);
  box-sizing: border-box;
  padding: 1rem;
}
.item-metadata-container.active {
  right: 0;
}
.item-metadata-container .button-group {
  text-align: right;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}
.item-metadata-container .button-group .button {
  font-size: 1.5rem;
  margin: 0 0 0 10px;
}
.item-metadata-container dl > div {
  margin-top: 0.667rem;
}
.item-metadata-container dt {
  font-weight: bold;
  display: inline-block;
  margin-right: 0.25rem;
}
.item-metadata-container dd {
  display: inline-block;
  margin: 0;
}
.item-metadata-close {
  font-size: 3rem;
  width: 40px;
  height: 40px;
  line-height: 40px;
  position: absolute;
  right: 1rem;
  top: 1rem;
  margin: 0;
}
.item-metadata {
  margin-top: 50px;
}

.item-image-container {
  width: 336px;
  height: 336px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -168px;
  margin-top: -168px;
  transform: scale3d(1, 1, 1);
  transform-origin: 50% 0;
  z-index: -1;
  opacity: 0;
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
  background: black;
}
.item-image-container img {
  display: block;
  width: auto;
  height: auto;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}
.item-image-container.active {
  opacity: 1;
  transform: scale3d(1.05, 1.05, 1.05);
  z-index: 10000;
}

.touchpad {
  width: 180px;
  height: 180px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 9999;
  border-radius: 50%;
  background: rgba(255,255,255, 0.4);
  border: 1px solid rgba(255,255,255, 0.6);
  transition: background-color 1s ease-in-out;
  display: block;
}
.app.is-loading .touchpad {
  display: none;
}
.touchpad-handle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: var(--button-bg-color);
  border: 1px solid rgba(0,0,0.0.8);
  margin-left: -20px;
  margin-top: -20px;
  position: absolute;
  top: 50%;
  left: 50%;
  cursor: grab;
}
.touchpad.active {
  background: rgba(255,255,255, 0.6);
}
.touchpad.active .touchpad-handle {
  cursor: grabbing;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
