/* latin-ext */
@font-face {
  font-family: 'Work Sans';
  font-display: swap;
  src: url(../fonts/WorkSansExt.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Work Sans';
  font-display: swap;
  src: url(../fonts/WorkSans.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
  font-size: 18px;
  font-family: 'Work Sans', sans-serif;
}
.visuallyHidden {
  position: absolute !important;
  height: 1px; width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}
.app {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

a {
  color: var(--text-color);
}
.button,
button {
  background: var(--button-bg-color);
  display: inline-block;
  margin: 0 10px 0 0;
  padding: 0.2rem 0.4rem;
  color: var(--text-color);
  border: none;
  text-decoration: none;
  cursor: pointer;
}
.button.large,
button.large {
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
}
.button.inverse,
button.inverse {
  color: var(--bg-color);
  background: var(--button-bg-inverse-color);
}
.button:hover,
button:hover {
  background: var(--button-bg-hover-color);
}
.button.inverse:hover,
button.inverse:hover {
  color: var(--button-bg-inverse-color);
  background: var(--bg-color);
}

.intro {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.8);
  z-index: 10000;
  display: none;
}
.intro.active {
  display: block;
}
.intro > div {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 800px;
  box-sizing: border-box;
  padding: 1rem;
  width: 100%;
  margin: 0 auto;
  height: 100vh;
}
.intro h1 {
  margin: 0.67em 0 0.6rem;
  font-weight: normal;
}
.intro h1 strong {
  color: var(--bg-secondary-light-color);
}
.intro h2 {
  font-size: 1.3rem;
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: normal;
}
.intro p {
  line-height: 1.5;
}

.app.is-loading .intro-buttons {
  display: none;
}
.intro-buttons {
  margin: 2rem 0;
}
.intro-button {
  text-align: center;
  margin-left : auto;
  margin-right: auto;
  margin-top: 15px;
  width: 300px;
  height: 50px;
  border-style: solid;
  border-color: white;
  border-width: 1px;
  background-color: transparent;
  transition: background-color 0.3s ease-in-out;
  display: block;
  cursor: pointer;
}
.intro-button:hover{
  background-color: var(--button-bg-color);
}
.intro-button img {
  max-width: 24px;
}

.loading {
  display: none;
  margin-top: 2rem;
}
.loading-circle {
  position: relative;
  border-style: solid;
  border-color: transparent;
  border-top-color: var(--bg-secondary-light-color);
  border-width: 8px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: auto;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
.loading p + p {
  margin-top: -0.5rem;
}
.app.is-loading .loading {
  display: block;
}

.intro-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
.credits a {
  display: inline-block;
  vertical-align: middle;
  margin: 10px;
}
.credits img {
  width: auto;
  height: auto;
  max-width: 200px;
}
.credits + p {
  font-size: 1rem;
  margin-top: 0.3rem;
}

.stories-container,
.legend-container,
.menus-container {
  position: absolute;
}
.stories-container,
.menus-container {
  bottom: 10px;
  left: 10px;
  width: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.legend-container {
  top: 10px;
  right: 10px;
  max-width: 90%;
}
.menus-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}
.app.is-loading .menus-container {
  display: none;
}
.stories-container {
  margin-right: 10px;
  flex-grow: 1;
  width: auto;
  left: 10px;
  bottom: auto;
  top: 40px;
  margin-left: 60px;
}
.toggle-button {
  padding: 0 0.4rem;
  background: #ccc;
  color: var(--bg-color);
  border: none;
  position: absolute;
  height: 30px;
  line-height: 30px;
  top: -30px;
  left: 0;
  font-weight: bold;
}
.is-loading .toggle-button {
  display: none;
}

.menu {
  box-sizing: border-box;
  width: auto;
  z-index: 100;
  background: rgba(0, 0, 0, 0.9);
  padding: 10px;
  opacity: 0;
  animation: fadeIn ease 2s;
  animation-fill-mode: forwards;
  border: 2px solid var(--bg-lighter-color);

}
.menus-container .menu {
  display: none;
}
.menus-container.active .menu {
  display: block;
}
.menu h2 {
  margin: 0 0 0.8rem;
  line-height: 1;
  font-size: 1.2rem;
  font-weight: normal;
  color: var(--text-dark-color);
}
.radio-button-form label {
  padding: 5px 10px 5px 6px;
  position: relative;
  display: inline-block;
  font-size: 1.1rem;
}
.radio-button-form input[type="radio"],
.radio-button-form span {
  position: relative;
  z-index: 1;
}
.checked-bg {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--button-bg-color);
  border-radius: 5px;
  display: none;
  z-index: 0;
}
input[type="radio"]:checked ~ .checked-bg {
  display: block;
}

.menu.radio-buttons {
  width: 500px;
}

.camera-nav {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  padding: 20px;
  opacity: 0;
  display: flex;
  flex-direction: column;
}
.loaded .camera-nav {
  animation: fadeIn ease 2s;
  animation-fill-mode: forwards;
}
.camera-nav button {
  font-size: 2rem;
  margin-bottom: 6px;
}

.main-nav {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 9999;
}
.main-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.main-nav li {
  margin: 0 0 0.5rem;
  padding: 0;
}
.main-nav button {
  background: none;
  border: none;
  padding: 0;
  position: relative;
  width: 40px;
  height: 40px;
  box-sizing: border-box;
}
.main-nav button::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: var(--bg-color);
  transition: background-color 0.3s ease-in-out;
}
.main-nav button:hover::before {
  background: var(--button-bg-color);
}
.main-nav button svg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.main-nav button svg .filled {
  fill: var(--text-color);
}
.app.is-loading .main-nav {
  display: none;
}

.instructions {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
  background: rgba(0,0,0,0.8);
}
.instructions h1 {
  font-size: 1.8rem;
}
.instructions ul {
  list-style: none;
  padding: 0;
  margin: 0 0 2rem;
}
.instructions li {
  padding: 1rem 0;
}
.instructions strong {
  color: var(--bg-secondary-light-color);
}
.instructions .close-x {
  position: absolute;
  float: right;
  width: 40px;
  height: 40px;
  line-height: 40px;
  vertical-align: middle;
  right: 1rem;
  top: 1rem;
  margin: 0;
  font-size: 2rem;
  font-weight: 100;
  background-color: transparent;
  outline:none;
  cursor: pointer;
}
.instructions .close-x:hover {
  color: var(--notice-color);
}
.instructions > div {
  border-style: solid;
  border-width: 1px;
  border-color:rgba(255, 255, 255, 0.2);
  background: rgba(0,0,0,0.8);
  max-width: 500px;
  margin: 0 auto;
  overflow:auto;
  box-sizing: border-box;
  padding: 50px;
  position: relative;
  top: 40%;
  transform: translateY(-50%);
}
.device-instructions {
  display: none;
}
.device-instructions.active {
  display: block;
}
.instructions .image-row{
  display: flex;
}
.instructions .image-container {
  margin-right: 2rem;
}
.instructions img {
  width: auto;
  height: auto;
  max-height: 100px;
}
.instructions img.space-icon {
  max-height: 50px;
}
.instructions img.trackpad-icon {
  max-height: 200px;
}
.instructions.active {
  display: block;
}

.key {
  z-index: 100;
  display: none;
  opacity: 0;
  animation: fadeIn ease 2s;
  animation-fill-mode: forwards;
  background: rgba(0,0,0,0.9);
  padding: 5px;
  border: 2px solid var(--bg-lighter-color);
  border-bottom: none;
  width: 500px;
  box-sizing: border-box;
}
.key.active {
  display: block;
}
.menus-container .key.active {
  display: none;
}
.menus-container.active .key.active {
  display: block;
}

.key .marker,
.key .hover-marker {
  position: absolute;
}
.key .hover-marker {
  display: none;
}
.key:hover .hover-marker {
  display: block;
}
.legend.key {
  width: auto;
  border: 2px solid var(--bg-lighter-color);
}
.legend-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}
.legend-list li {
  margin: 0;
  padding: 3px 6px;
  white-space: nowrap;
}
.legend-list span {
  display: inline-block;
  vertical-align: middle;
}
.legend-list span.color {
  width: 30px;
  height: 30px;
}
.map.key {
  width: 400px;
  height: 200px;
  padding: 0;
  position: relative;
}
.map.key img {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.map.key .marker,
.map.key .hover-marker {
  width: 20px;
  height: 20px;
  margin-left: -10px;
  margin-top: -10px;
  border: 3px solid var(--text-color);
  border-radius: 50%;
}
.map.key .hover-marker {
  border-color: var(--bg-secondary-color);
}
.timeline.key {
  width: 500px;
  padding: 10px 0;
}
.timeline-wrapper {
  position: relative;
  overflow: hidden;
}
.timeline-data {
  list-style: none;
  width: 100%;
  height: 120px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-end;
}
.timeline-data li {
  background: var(--bg-lightest-color);
  flex-grow: 1;
}
.timeline-wrapper .domain {
  position: absolute;
  bottom: 1px;
  left: 1px;
  white-space: nowrap;
  font-size: 0.8rem;
  text-align: left;
}
.timeline-wrapper .domain.year-end {
  left: auto;
  right: 1px;
  text-align: right;
}
.timeline-wrapper .marker,
.timeline-wrapper .hover-marker {
  width: 4px;
  height: 80%;
  background: var(--text-color);
  bottom: 0;
}
.timeline-wrapper .hover-marker {
  background: var(--bg-secondary-color);
}
.timeline-wrapper .marker-label {
  position: absolute;
  top: -20px;
  left: 50%;
  width: 100px;
  margin-left: -50px;
  text-align: center;
  white-space: nowrap;
}

.story {
  display: none;
  opacity: 0;
  animation: fadeIn ease 2s;
  animation-fill-mode: forwards;
  background: rgba(0,0,0,0.9);
  padding: 5px;
  border: 2px solid var(--bg-lighter-color);
  box-sizing: border-box;
  color: var(--text-dark-color);
  position: relative;
}
.story.active {
  display: block;
}
.story h3,
.story p {
  margin: 0 0 10px;
  line-height: 1.4;
}
.story a {
  color: var(--text-color);
  text-decoration: underline;
}
.story .images {
  display: flex;
  flex-wrap: wrap;
}
.story img {
  height: auto;
  width: auto;
  max-height: 100px;
  margin: 0 10px 0 0;
}

.viewer {
  width: 80px;
  height: 80px;
  border: 2px solid rgba(255, 255, 255, 0.9);
  position: absolute;
  z-index: 10000;
  top: 50%;
  left: 50%;
  margin-left: -40px;
  margin-top: -40px;
  border-radius: 50%;
  opacity: 0;
  display: none;
  box-shadow: 0 1px 2px 2px rgb(0, 0, 0, 0.8);
}
/* .app.loaded .viewer {
  display: block;
  animation: fadeIn 1s ease-in;
  animation-fill-mode: both;
} */

.item-metadata-container {
  position: absolute;
  width: 300px;
  height: 100%;
  top: 0;
  right: -300px;
  z-index: 10000;
  transition: right 1s ease-in-out;
  background: var(--bg-secondary-color);
  box-sizing: border-box;
  padding: 1rem;
}
.item-metadata-container.active {
  right: 0;
}
.item-metadata-container .button-group {
  text-align: right;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}
.item-metadata-container .button-group .button {
  font-size: 1.5rem;
  margin: 0 0 0 10px;
}
.item-metadata-container dl > div {
  margin-top: 0.667rem;
}
.item-metadata-container dt {
  font-weight: bold;
  display: inline-block;
  margin-right: 0.25rem;
}
.item-metadata-container dd {
  display: inline-block;
  margin: 0;
}
.item-metadata-close {
  font-size: 3rem;
  width: 40px;
  height: 40px;
  line-height: 40px;
  position: absolute;
  right: 1rem;
  top: 1rem;
  margin: 0;
}
.item-metadata {
  margin-top: 50px;
}

.item-image-container {
  width: 336px;
  height: 336px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -168px;
  margin-top: -168px;
  transform: scale3d(1, 1, 1);
  transform-origin: 50% 0;
  z-index: -1;
  opacity: 0;
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
  background: black;
}
.item-image-container img {
  display: block;
  width: auto;
  height: auto;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}
.item-image-container.active {
  opacity: 1;
  transform: scale3d(1.05, 1.05, 1.05);
  z-index: 10000;
}

.touchpad {
  width: 180px;
  height: 180px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 9999;
  border-radius: 50%;
  background: rgba(255,255,255, 0.4);
  border: 1px solid rgba(255,255,255, 0.6);
  transition: background-color 1s ease-in-out;
  display: none;
}
.touchpad.active {
  display: block;
}
.app.is-loading .touchpad,
.app.is-loading .touchpad.active {
  display: none;
}
.touchpad-handle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: var(--button-bg-color);
  border: 1px solid rgba(0,0,0.0.8);
  margin-left: -20px;
  margin-top: -20px;
  position: absolute;
  top: 50%;
  left: 50%;
  cursor: grab;
}
.touchpad.active {
  background: rgba(255,255,255, 0.6);
}
.touchpad.active .touchpad-handle {
  cursor: grabbing;
}
.touchpad-handle {
  transition: left 0.5s ease-in-out, top 0.5s ease-in-out;
}
.touchpad.active .touchpad-handle {
  transition: none;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
