body {
  background: black;
  color: white;
  font: 18px sans-serif;
}
.app {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.loading {
  display: none;
  width: 400px;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -200px;
  margin-top: -100px;
}
.loading-bar {
  border: 2px solid #888;
  width: 100%;
  height: 40px;
  line-height: 40px;
  box-sizing: border-box;
  position: relative;
}
.loading-progress {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #444;
  z-index: 1
}
.loading-text {
  position: relative;
  z-index: 2;
}
.app.is-loading .loading {
  display: block;
}

.menu {
  box-sizing: border-box;
  width: 100%;
  position: absolute;
  z-index: 100;
  background: rgba(0,0,0,0.9);
  padding: 10px 20px 20px;
  opacity: 0;
  animation: fadeIn ease 2s;
  animation-fill-mode: forwards;
}
.menu h2 {
  margin: 0 0 1.5rem;
  line-height: 1;
  font-size: 1.333rem;
  font-weight: normal;
  color: #ccc;
}
.radio-button-form label {
  padding: 10px 25px 10px 15px;
  position: relative;
  display: inline-block;
}
.radio-button-form input[type="radio"],
.radio-button-form span {
  position: relative;
  z-index: 1;
}
.checked-bg {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #7a2323;
  border-radius: 10px;
  display: none;
  z-index: 0;
}
input[type="radio"]:checked ~ .checked-bg {
  display: block;
}

.menu.radio-buttons {
  left: 0;
  bottom: 0;
}

.camera-nav {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  padding: 20px;
  opacity: 0;
  display: flex;
  flex-direction: column;
}
.loaded .camera-nav {
  animation: fadeIn ease 2s;
  animation-fill-mode: forwards;
}
.camera-nav button {
  font-size: 2rem;
  margin-bottom: 6px;
}

.instructions {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
  background: rgba(0,0,0,0.8);
}
.instructions h1 {
  font-size: 1.8rem;
}
.instructions ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.instructions li {
  padding: 1rem 0;
}
.instructions strong {
  background: #ffe626;
  color: black;
  padding: 3px 6px;
  border-radius: 4px;
  margin: 0 4px;
  display: inline-block;
  vertical-align: middle;
}
.instructions button {
  font-size: 2rem;
  padding: 5px 20px;
}
.instructions > div {
  max-width: 800px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 20px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.instructions.active {
  display: block;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
