<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>{title}</title>
  <meta name="description" content="{description}">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="../../css/vendor/normalize.css">
  <link rel="stylesheet" href="../../css/vars.css">
  <link rel="stylesheet" href="../../css/main.css">
  <link rel="stylesheet" href="css/app.css">
</head>

<body>

  <div id="app" class="app is-loading">

    <div class="intro active">
      <div>

        <h1>{titleFormatted}</h1>
        <h2>{description}</h2>
        <p>{introductionText}</p>

        <div class="loading">
          <div class="loading-circle"></div>
          <p>Loading</p>
          <p class="loading-text">0%</p>
        </div>

        <div class="intro-buttons">
          <button class="intro-button tour-start">
            <img class="icon" src="../../img/ico-tour.png" alt="Start guided tour icon" />
            Start guided tour
          </button>
          <button class="intro-button explore-start">
            <img class="icon" src="../../img/ico-explore.png" alt="Explore freely icon" />
            Explore freely
          </button>
        </div>

        {footerContent}

      </div>

    </div>

    <div id="legend-container" class="legend-container"></div>

    <div id="stories-container" class="stories-container"></div>

    <div id="menus-container" class="menus-container active">
      <button class="toggle-menus toggle-button active" data-on="Minimize" data-off="Maximize">Minimize</button>
    </div>

    <div id="viewer" class="viewer"><div class="viewer-inner"></div></div>

    <nav class="main-nav">
      <ul class="icon-list">
        <li><button class="show-menu"><img src="../../img/ico-menu.png" alt="Menu icon" title="View menu" /></button></li>
        <li><button class="show-instructions"><img src="../../img/ico-info.png" alt="Information icon" title="View instructions" /></button></li>
      </ul>
    </nav>

    <div id="touchpad" class="touchpad"><div class="touchpad-handle"></div></div>

    <div id="item-image-container" class="item-image-container"><img id="item-image" class="item-image" /></div>
    <div id="item-metadata-container" class="item-metadata-container">
      <button class="item-metadata-close inverse">×<span class="visuallyHidden"> close</span></button>
      <div id="item-metadata" class="item-metadata"></div>
    </div>

  </div>

  <div id="instructions" class="instructions">
    <div>
      <button class="instructions-close close-x">×<span class="visuallyHidden"> close</span></button>
      <div class="keyboard-instructions device-instructions">
        <h1>Controls</h1>
        <ul>
          <li>move your mouse to <strong>look around</strong></li>
          <li>W-A-S-D or arrow keys to <strong>move around</strong></li>
          <li class="image-row">
            <div class="image-container">
              <img src="../../img/ico-WASD.png" alt="WASD Keys Icon" />
            </div>
            <div class="image-container">
              <img src="../../img/ico-arrowkeys.png" alt="Arrow Keys Icon" />
            </div>
          </li>
          <li>Space bar to <strong>change layout</strong></li>
          <li class="image-row">
            <div class="image-container">
              <img src="../../img/ico-spacebar.png" alt="Space Bar Icon" class="space-icon" />
            </div>
          </li>
        </ul>
        <button class="instructions-close large">Okay</button>
        <p><small>Using a touch device? <a href="?device=touch">Tap here to load touch mode.</a></small></p>
      </div>
      <div class="touch-instructions device-instructions">
        <h1>Controls</h1>
        <ul>
          <li>Drag to <strong>look around</strong></li>
          <li>Use trackpad on bottom right to <strong>move around</strong></li>
          <li class="image-row">
            <div class="image-container">
              <img src="../../img/ico-trackpad.png" alt="Trackpad icon" class="trackpad-icon" />
            </div>
          </li>
        </ul>
        <button class="instructions-close large">Okay</button>
        <p><small>Using a keyboard and mouse? <a href="?device=keyboard">Tap here to load keyboard mode.</a></small></p>
      </div>
    </div>
  </div>

  <script>
  var renderNeeded = true;
  </script>
  <script src="../../js/vendor/jquery-3.4.1.min.js"></script>
  <script src="../../js/vendor/underscore-1.9.2.min.js"></script>
  <script src="../../js/vendor/three-r114.min.js"></script>
  <script src="../../js/vendor/hammer.min.js"></script>
  <script src="../../js/vendor/seedrandom.min.js"></script>

  <script src="../../js/utils/math_utils.js"></script>
  <script src="../../js/utils/utils.js"></script>

  <script src="../../js/lib/collection.js"></script>
  <script src="../../js/lib/controls.js"></script>
  <script src="../../js/lib/geometry.js"></script>
  <script src="../../js/lib/itemDetailManager.js"></script>
  <script src="../../js/lib/key.js"></script>
  <script src="../../js/lib/label.js"></script>
  <script src="../../js/lib/labelSet.js"></script>
  <script src="../../js/lib/material.js"></script>
  <script src="../../js/lib/mesh.js"></script>
  <script src="../../js/lib/overlay.js"></script>
  <script src="../../js/lib/pointGeometry.js"></script>
  <script src="../../js/lib/raycaster.js"></script>
  <script src="../../js/lib/set.js"></script>
  <script src="../../js/lib/sound.js"></script>
  <script src="../../js/lib/soundSet.js"></script>
  <script src="../../js/lib/story.js"></script>
  <script src="../../js/lib/storyManager.js"></script>
  <script src="../../js/main.js"></script>

  <script src="js/config.js"></script>
  <!-- these files should be generated by running make_app.py -->
  <script src="js/config/config.labels.js"></script>
  <script src="js/config/config.metadata.js"></script>
  <script src="js/config/config.sets.js"></script>
  <script src="js/config/config.positions.js"></script>
  <script src="js/config/config.sounds.js"></script>
  <script src="js/config/config.textures.js"></script>
  <script src="js/config/config.content.js"></script>
  <!-- / -->
  <script src="js/app.js"></script>
</body>

</html>
